<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campsites</title>
</head>
<body>
  <h1>All Our Campsites</h1>
  <div>
    <a href="/campsites/new">Add Campsite</a>
  </div>
  <ul>
    <% for (let campsite of campsites) { %>
      <li> <a href="/campsites/<%= campsite._id %>"> <%= campsite.title %> </a> </li>
  <%  } %>
  </ul>
</body>
</html>
